# Ambientes Virtuais
venv/
env/
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# pytest
.pytest_cache/
htmlcov/
.coverage
.tox/

# VS Code / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Banco de Dados local
data/projeto_dados.db

# Evitar subir arquivos maciços no futuro
*.csv
